In [3]:
#import libraries
import pandas as pd

In [32]:
#create an employee messy dataset
data = {
    'EMPID': [101, 102, 103 , 104, 105, 106, None, 108, 109, 110],
    'FullName': [
        'Alice Johnson', 'MICHEAL smith', 'sara lee', 'David-kim', 
        None, 'john brown', 'Emma wilson', 'TOM DAVIS', 'Jane Miller', 'Chris taylor'
    ],
    'Dept': ['IT', 'hr', 'Mktng', 'IT', 'finance', 'marketing', 'Finance', None, 'HR', 'marketing'],
    'Age': [29, 'thirty-five', 26, 31, 42, 27, 33, 30, None, 26],
    'Salary($)': ["$5500.50", "4800", "4200.71", "NaN", "6100", '4300', "5000", "5800", "4700.0", "4400"],
    'JoinDate': ['2021/04/12', '2020/11/01', '18/01/2020', '2019/9/02', 
                 'July 5, 2018', '2021/01/14', '2019.12.01', 'March 22 2020', '2021-05-10', 'Feb-05-2022'
    ],
    'Performance': [87, 73, 90, 65, 82, 75, 88, None, '79%', 91],
    'Remote': ['Yes', 'No', 'Y', 'N', 'yes', 'no', 'Y', 'Yes', None, True]
}

# convert the dictionary data to pandas dataframe
df = pd.DataFrame(data)
df.to_csv("data/dataset1.csv", index=False)

df1 = pd.read_csv("data/dataset1.csv")
df1

,EMPID,FullName,Dept,Age,Salary($),JoinDate,Performance,Remote
0,101.0,Alice Johnson,IT,29,$5500.50,2021/04/12,87,Yes
1,102.0,MICHEAL smith,hr,thirty-five,4800,2020/11/01,73,No
2,103.0,sara lee,Mktng,26,4200.71,18/01/2020,90,Y
3,104.0,David-kim,IT,31,NaN,2019/9/02,65,N
4,105.0,NaN,finance,42,6100,"July 5, 2018",82,yes
5,106.0,john brown,marketing,27,4300,2021/01/14,75,no
6,NaN,Emma wilson,Finance,33,5000,2019.12.01,88,Y
7,108.0,TOM DAVIS,NaN,30,5800,March 22 2020,NaN,Yes
8,109.0,Jane Miller,HR,NaN,4700.0,2021-05-10,79%,NaN
9,110.0,Chris taylor,marketing,26,4400,Feb-05-2022,91,True

In [6]:
data = {
    "EMPID": [101, 102, "103", 104, 105, 106, None, 108, 109, 110],
    "FullName": [
        "Alice Johnson", "MICHEAL smith", "sara lee", "David-kim", None,
        "john brown", "Emma wilson", "TOM DAVIS", "Jane Miller", "Chris taylor"
    ],
    "Dept": ["IT", "hr", "Mktng", "IT", "finance", "marketing", "Finance", None, "HR", "marketing"],
    "Age" : ["29", "thirty-five", 26, 31, 42, 27, 33, 30, None, 26],
    "Salary($)": ["5500.50", "4800", "4200.71", "NaN", "6100", "4,300", "5000", "5800", "4700.0", "4400"],
    "JoinDate": [
        "2021/04/12", "2020/11/01", "18/01/2020", "2019/9/02", "July 5, 2018",
        "2021/01/14", "2019.12.01", "March 22 2020", "2021-05-10",
        "Feb-05-2022"
    ],
    "Performance": [87, 73, 90, 65, 82, 75, 88, None, "79%", "91"],
    "Remote": ["Yes", "No", "Y", "N", "yes", "no", "Y", "Yes", None, True]
}
# convert the dictionary data to pandas dataframe 
df = pd.DataFrame(data) 
df.to_csv("employee_dataset1.csv", index=False) 

df

,EMPID,FullName,Dept,Age,Salary($),JoinDate,Performance,Remote
0,101,Alice Johnson,IT,29,5500.50,2021/04/12,87,Yes
1,102,MICHEAL smith,hr,thirty-five,4800,2020/11/01,73,No
2,103,sara lee,Mktng,26,4200.71,18/01/2020,90,Y
3,104,David-kim,IT,31,NaN,2019/9/02,65,N
4,105,None,finance,42,6100,"July 5, 2018",82,yes
5,106,john brown,marketing,27,"4,300",2021/01/14,75,no
6,None,Emma wilson,Finance,33,5000,2019.12.01,88,Y
7,108,TOM DAVIS,None,30,5800,March 22 2020,None,Yes
8,109,Jane Miller,HR,None,4700.0,2021-05-10,79%,None
9,110,Chris taylor,marketing,26,4400,Feb-05-2022,91,True